# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac
.DS_Store

# Model Files
*.pkl
*.joblib

# Logs
logs/

# Environment Variables
.env